body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100vw;
}

div {
  max-width: 100vw;
}

@media only screen and (max-width: 650px) {
  ._flex-container_ffbb7, ._flex_ffbb7{
    display: block !important;

  }
  ._flex_ffbb7 div {
      margin: 20px auto !important;
      min-width: 90vw;
  }

  ._flex_ffbb7 {
    max-width: 90vw;
    margin: auto;

  }
  h1 {
    text-align: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
